<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>正在结束进程...</title>
</head>
<body>
    @{
        Layout = null;
    }
    <h1>正在结束网站进程...</h1>
    <p>3秒后，尝试重新启动</p>
    <script>
        function Go() {
            window.location.href = '/';
        }
        setTimeout(Go, 3000);
    </script>
</body>
</html>